.btn-spacer{
	padding: 0.2em;
}

.btn-container {
	display:flex;
	width: 100%;
}

.error {
    color: red
}

summary {
	height: 1.8em;
}

:root{
    --table-zebra-bg: #c9ceed;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: #111;
        --text-color: white;
        --table-zebra-bg: #363758;
        --download-link-color: #dc617c;
    }

    body {
        background-color: var(--body-bg-color);
        color: var(--text-color);
    }

    a {
        color: var(--download-link-color)
    }
}